.hr{
    width:211vh;
    align-items: baseline;
    margin-left: 0px;
}

.button{
    background-color: rgb(79, 84, 145);
    border-radius: 5px;
    padding: 3px 10px;
}

.button:hover {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardHome {
    width: 28%; /* Ajusta este valor según sea necesario */
    display: inline-block; /* Cambiado de flexbox a inline-block */
    margin: 1%; /* Espacio entre las tarjetas */
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(44, 44, 42);
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(209, 26, 26, 0.288);
}


