
.cardHome {
    margin: 5%; /* Espacio entre las tarjetas */
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    color: #181F39;
    ;
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(209, 26, 26, 0.288);
}

.button{
    border-radius: 5px;
    padding: 3px 10px;
    font: raleway;
    background: #181F39;
    color: white;

}

.button:hover {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img{
    width: 100%;
}