/* .card{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(151, 161, 93);
    border-radius: 10px;
    width: 70px;
    box-shadow: 10px 10px 10px rgb(182, 170, 170);
    margin: 0px;
    opacity: 90%;
    padding: 5px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    height: 100px;
} */