
.cardHome {
    margin: 10px; /* Espacio entre las tarjetas */
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    color: #181F39;
    ;
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(209, 26, 26, 0.288);
    height: 700px;
    gap: 0px;
    opacity: 0px;
}

.button1{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: center;
    width: 143px;
    height: 34px;
    top: 509px;
    left: 149px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background: #181F39;
    color: white;


}

.img{
    width: 100%;
    height: 310px;
    gap: 0px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0px;

}

.city{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    margin-left: 20px;
    width: 54px;
    height: 19px;
    font-style: normal;
}

.fraccion{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    color: #181F39;
    margin-left: 20px;  
    font-style: normal;  
}

.icon{
    width: 13px;
    height: 17px;
    top: 324px;
    left: 20px;
    gap: 0px;
    opacity: 0px;    
    font-family: Karla;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.38px;
    text-align: left;
    color: #A596C8
}

.address{
font-family: Karla;
font-size: 20px;
font-weight: 700;
line-height: 23.38px;
text-align: left;
color: #181F39;
margin-left: 10px;
font-style: normal;
}

.profitability{
font-family: Karla;
font-size: 20px;
font-weight: 700;
line-height: 23.38px;
text-align: left;
color: #181F39;
margin-left: 10px;
font-style: normal;
}

