.forms1{
    display:inline-flex;
    align-items: center;
    width: 100px; 
}

.buttonFilter{
    width: 163px;
    height: 37px;
    top: 134px;
    left: 555px;
    gap: 0px;
    border-radius: 7px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #181F39; 
}

.buttonFilter:hover{
    background-color: #181F39;
    color: white;
}